.st0 {
    display: none;
}

.st1 {
    display: inline;
    fill: #FFFFFF;
}

.st2 {
    display: inline;
}

.st3 {
    fill: #B9B9B9;
}

.st4 {
    fill: #CDCDCD;
}

.st5 {
    fill: #7C7C7C;
}

.st6 {
    fill: #E4E4E4;
}

.st7 {
    display: inline;
    opacity: 0.22;
}

.st8 {
    fill: #F47458;
}

.st9 {
    fill: #444444;
}

.st10 {
    fill: #565656;
}

.st11 {
    fill: #707070;
}

.st12 {
    display: inline;
    fill: #282828;
}

.st13 {
    opacity: 0.22;
}

.st14 {
    fill: #727272;
}

.st15 {
    fill: #1A2E35;
}

.st16 {
    opacity: 0.2;
}

.st17 {
    fill: #F4B58D;
}

.st18 {
    fill: #E7255E;
}

.st19 {
    fill: #007CFF;
}

.st20 {
    fill: #9E9E9E;
}

.st21 {
    fill: #282828;
}

.st22 {
    display: none;
    fill: #282828;
}